.logo{
  font-family: 'Roboto';
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--white);
  top: 3em;
  left: 3.5em;
  gap: .2em;
}

.icon{
  font-size: 2.6em;
  color: var(--white);
  transition: .3s;
}

.icon:hover{
  transform: scale(1.07);
  color: rgb(180, 206, 232);
}

.title__logo{
  font-size: 1.8em;
  transition: .4s;
}
.title__logo:hover{
  transform: scale(1.02);
    color: rgb(180, 206, 232);

}

