:root{
  --gray: #36393f;
  --white: #f1f1f2;
  --dark-violen: #6173b1;
  --igth-violen: #7289da;
  --background-input: --rgba(31, 30, 30, 0.411);

  /*
  SHADOWS
  */
  --shadow-form: 0px 2px 8px black;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  FONTS
*/
@font-face {
  font-family: 'AlegreyaSans';
  src: url(./fonts/AlegreyaSans.woff2)  format(woff2);
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto.woff2)  format(woff2);
}